{% extends "webforntjoinform/base.html" %} 
{% block content %}

 {% if user.id != None %}
  <!--  {% if fromdate == '' %}
    <div class="container" style="">
        <form method="POST" action="/bill/report">
            {% csrf_token %}
            <label>From Date:</label>
            <input class="input1" type="date" id="formdt" name="fromdate" value="">
            <label>To Date:</label>
            <input class="input1" type="date" id="todt" name="todate" value="">
            <input class="btn btn-warning center" type="submit" value="submit">
          </form>
    {% endif %}
    </div> -->
  <!-- <div class="container">
    <div><span style="font-size: 20px;">Bill Datewise Report</span><br><br>
        <table >
            <tr>
                <th>SR.No</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        
        {% for bill in billreport %}
       
        {% endfor %}
        </table>    
    </div>
  </div> -->
<div>
    <div id="parmId" class="container d-print-none" style="padding: 20px;"></div>
    <div id="print" class="d-print-none" style="position: relative;padding-left:16px;"></div>
    <div id="reportDiv" style="padding:50px 0px 0px 90px;"></div>
    
    <!-- <div id="reportDiv1" style="padding:50px 0px 0px 90px;"></div> -->
</div>
<style>

</style>
<script language="JavaScript" type=text/javascript>
    $( document ).ready(function() 
    {
        var form = new UIDoc("#parmId")
        form.setStructure({
            "id":"parmform",
            "name":"Bill Report Genrate",
            "mode":"form",
            "isEditable":1,
            "isSubmitable":0,
            "fields":[
            {"id":"from_date","type":"JQDate","name":"From Date:","style":{"margin":"0px 0px 10px 20px"}},
            {"id":"to_date","type":"JQDate","name":"To Date:","column":2,"style":{"margin":"0px 0px 0px 40px"}},
            {"id":"submit","type":"Button","name":"","default":"Submit","className":"btn btn-outline-danger","style":{"margin-top":"15px","padding":"5px 20px 5px 5px"}},
            ]
        })
        form.onclick("submit",function() 
        {
            ajaxJson("/bill/report","csrfmiddlewaretoken={{ csrf_token }}&from_date="+form.from_date.value()+"&to_date="+form.to_date.value(),function(resp)
            {
                
                console.log(resp)
                table = new UIDoc("#reportDiv");
                table.setStructure({
                    "id":"parmtable",
                    "name":"Bill Report",
                    "isSubmitable":false,
                    "mode":"table",
                    "showSummery":true,
                    "fields":[
                        {"id":"CODE","name":"Sr.no","type":"Div","hidden":true},
                        {"id":"BILL","name":"Bill","type":"Div"},
                        {"id":"DATE","name":"Date","type":"Div"},
                        {"id":"REMARK","name":"Remark","type":"Div"},
                        {"id":"AMOUNT","name":"Amount","type":"Div","type":"Currency"},
                    ]
                })
                table.value(resp.extra);
                table.update();
            });
                var button = new UIObject("button","#print");
                button.innerHTML("Total Amount");
                button.className("btn btn-warning");
                // button.style({"marginTop":"40px"});
                button.onclick(function()
                { 
                    
                
                    ajaxJson("/bill/report/print","csrfmiddlewaretoken={{ csrf_token }}&from_date="+form.from_date.value()+"&to_date="+form.to_date.value(),function(resp)
                    {

                        table1 = new UIDoc("#reportDiv");
                        table1.setStructure({
                            "id":"parmtable",
                            "name":"Bill Report",
                            "isSubmitable":false,
                            "mode":"table",
                            "showSummery":true,
                            "fields":[ 
                                {"id":"DATE","name":"Date","type":"Div"},
                                {"id":"AMOUNT","name":"Amount","type":"Div","type":"Currency","summery":"sum"},
                            ]
                        })
                        table1.value(resp.extra);
                        table1.update();
                        table1.showDownloadOption();
                        
                    });
                    
                })
        })
        form.update(); 
    });
</script>

{% endif %}
 
{% endblock %}