appdirs==1.4.4
asgiref==3.2.10
atpublic==2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cx-Oracle==8.0.1
distlib==0.3.1
Django==3.1.1
django-crispy-forms==1.9.2
django-markdown==0.8.4
docopt==0.6.2
filelock==3.0.12
flufl.bounce==3.0.1
gevent==20.6.2
googletrans==3.0.0
greenlet==0.4.16
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.2
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Jinja2==2.11.2
joblib==0.16.0
lambda==0.0.1
langdetect==1.0.8
Markdown==3.2.2
MarkupSafe==1.1.1
nltk==3.5
Pillow==8.0.1
pipreqs==0.4.10
PyMySQL==0.10.1
pyperclip==1.8.0
python-magic==0.4.18
pytz==2020.1
regex==2020.7.14
requests==2.24.0
rfc3986==1.4.0
simplejson==3.17.2
six==1.15.0
sniffio==1.1.0
soupsieve==2.0.1
sqlparse==0.3.1
textblob==0.15.3
tqdm==4.48.2
urllib3==1.25.10
virtualenv==20.0.31
websocket==0.2.1
websocket-client==0.57.0
websockets==8.1
yarg==0.1.9
zope.event==4.4
zope.interface==5.1.0
